<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
	<dependentAssembly>
		<assemblyIdentity name="Aspose.Drawing"
		                  publicKeyToken="716fcc553a201e56"
		                  culture="neutral" />
		<bindingRedirect oldVersion="22.6.0.0" newVersion="23.4.0.0" />
	</dependentAssembly>
</configuration>
